body {
  font-family: sans-serif;
  background-color: #fff;
  color: #252b42;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 1rem;
}

header {
  margin-bottom: 4rem;
  text-align: left;
}

.subtitle {
  color: #96bb7c;
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #252b42;
}

.description {
  color: #737373;
  font-size: 0.875rem;
  line-height: 1.625rem;
  max-width: 32rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon,
.card-icon-top,
.card-icon-bottom {
  width: 4rem;
  height: 4rem;
  background-color: #ff7b7b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.card-icon img,
.card-icon-top img,
.card-icon-bottom img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.card-divider {
  width: 3rem;
  height: 0.125rem;
  background-color: #e74040;
  margin: 0.75rem 0;
}

.card-text {
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.card-icon {
  position: relative;
}

/* TEPADAGI SHLYAPA */
.card-icon .card-bottom {
  position: relative;
  z-index: 2;
}

/* PASTKI OSILIB TURADIGAN QISM */
.card-icon .card-top {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 1rem;
}
